/* body {
    background-color: #fff!important;
} */
.property__detail {
    margin: 0 auto;
    padding-top: 10rem;
}

.property__detail-images {
    width: 80%;
    margin: 0 auto;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.property__detail-images img {
    min-width: 100%;
    height: 100%;
    max-height: 70rem!important;
}

main.property__info {
    width: 100%;
    margin: 0 auto;
    margin-top: -2rem;
    padding-top: 4rem;
    background-color: #fff;
}
section.property__info-col1 {
    width: 80%;
    margin: 0 auto;
}
section.fblock,
section.property__info-detail,
section.property__info-amenities,
section.price__fields {
    margin: 2rem 0;
    border: 1px solid #80808057;
    padding: 2.2rem;
    border-radius: 25px;
}
.property__info-badges {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.property__info-badges span {
    display: inline-block;
}
.property__info-title {
    text-align: left;
    padding: 2rem 0;
}
.property__info-title {
    font-weight: 600;
}
.property__info-location.tag {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
section.property__info-location.tag span {
    display: inline-flex;
    width: fit-content;
    gap: .5rem;
    background: linear-gradient(45deg, #e91e63b8, #a200b696);
    padding: .2rem 1rem;
    border-radius: 2rem;
    color: #fff;
}
.property__info-location-address {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0;
    gap: .5rem;
}
.property__info-location-address svg {
    width: 2rem;
    stroke-width: 1;
}
.property__info-location-address p {
    font-weight: 200;
}
.property__info-icons {
    margin: 2rem 0;
    padding: 2rem 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.property__info-icons div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.amenitie-icon {
    width: 3rem;
    stroke-width: 1;
}
.property__info-detail {
    padding: 2rem 0 4rem;
    border-bottom: 1px solid #e0e0e0;
}
.property__info-detail p {
    color: #838181;
    text-align: left;
}
.property__info-amenities {
    padding: 2rem 0 4rem;
    border-bottom: 1px solid #e0e0e0;
}
.property__info-amenities p {
    color: #838181;
    text-align: left;
}
.property__info-amenities-list .amenitie {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem 0;
}
.price__fields {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: .4rem;
    font-size: 2.4rem;
    font-weight: 600;
    padding: .5rem 0;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    position: sticky;
    bottom: 0;
    z-index: 10;
}
.price__fields-price {
    display: flex;
    gap: .5rem;
}
.price__fields-actions {
    border-radius: 4rem;
    padding: .5rem;
    background: linear-gradient(45deg, #e91e63b8, #a200b696);
    display: flex;
}
.price__fields-actions span {
    font-size: 4.5rem;
    color: #f7eded;
}
.rural {
    display: flex;
    background: linear-gradient(45deg, #4ccb15, #107805);
    border-radius: 20px;
    padding: 0 1rem;
    color: #fff;
}
.rural span {
    background: none!important;
}
@media (min-width: 992px) {
    main.property__info {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 1rem;
        grid-template-rows: repeat(3, auto);
    }
    section.property__info-map {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    section.price__fields {
        max-height: 40rem;
        width: 80%;
        align-items: flex-start;
        position: -webkit-sticky;
        position: sticky;
        top: 10rem;
    }
    .property__info-icons {
        border-bottom: none;
    }
}