.properties__container {
    margin: 1rem 0;
    display: grid;
    place-items: center;
    row-gap: 2rem;
}

@media(min-width: 630px) {
  .properties__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(min-width: 992px) {
    .properties__container {
      grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1200px) {
    .properties__container {
      grid-template-columns: repeat(4, 1fr);
    }
    .gallery {
        height: 24rem;
    }
}