.searchForm {
    position: absolute;
    bottom: -50px;
    width: 90%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 0px 19px #6c666685;
}
.searchForm form div input {
    padding: 1rem .1rem;
    margin: 1rem;
    width: 90%;
    border-bottom: 1px solid #8080804a;
}
input.searchForm__submit {
    background-color: #7b1485;
    width: 95%;
    border-radius: 25px;
    color: #fff;
    font-size: 2.2rem;
    max-width: 28rem;
}
@media(min-width: 1024px) {
    .searchForm form {
        display: flex;
        justify-content: space-around;
    }
    .searchForm {
        max-width: 100rem;
        border-radius: 250px;
        padding: 1rem;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }
}