.gallery {
    /* display: flex; */
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    position: relative;
    width: 100%;
}
ul.slider-container {
    display: flex;
    height: 100%;
}
ul.slider-container li {
    list-style: none;
}
.gallery-item {
    min-width: 100%;
    width: 100%;
    height: 100%;
}
.property__detail-images ul.slider-container li {
    list-style: none;
    width: 100%;
    min-width: 100%;
}